body {
    background: url("../ContactPage/background.jpg");
    margin: 0;
    padding: 0;
  }

  .bookform{
    width: 30%;
  margin: 0 auto;
  margin-top: 3.5%;
  padding: 26px;
  padding-right: 2%;
  background-color: rgba(0, 0, 0, 0.6);
  }

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 68px;
    left: calc(50% - 50px);
}

div.elem-group {
    margin: 20px 0;
    overflow: hidden;
  }
  
  div.elem-group.inlined {
    width: 100%;
    margin-left: 1%;
    display: flex;
  }

  .inf{
    padding-right: 5%;
    width: 50%;
  }
  .inf input{
    height: 30%;
  }


  
  label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 10px;
    font-size: 1.25em;
    color: white;
  }
  
  input, select {
    
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
    color: white;
    background: none ;
  }

  option{
    background-color: black;
    color: white;
  }
  
  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: whitesmoke;
    color: black;
    font-size: 18px;
    border-radius: 20px;
}

input[type="submit"]:hover {
    cursor: pointer;
    background: rgba(255, 0, 42, 255);
    color: #000;
    transition: all 40ms;
}


@media screen and (max-width: 600px) {
  .bookform {
    width: 89%;
    margin: 0 auto;
    padding: 19px;
    padding-right: 7%;
  } 
}

