body{
  background: url("background.jpg");
  padding: 0;
  margin: 0;
}

.white{
  color:white;
}

 .paragraph-left{
text-align: left;
margin-right: 50%;
}

.paragraph-right{
text-align: right;
margin-left: 50%;
}

.Header{
  text-align: center;
  font-size: 280%;
}

.Information-left{
  text-align: left;
  font-size: x-large;
  margin-left: 20px;
}

.Information-right{
  text-align: right;
  font-size: x-large;
}

.location{
  height: 450px;
  width: 99.5%;
}

.container{
  height: 250px;
  max-height: 500px;
}

.image{
  width: 27%;
}

.image-left{
  padding-left: 66%;
}

.image-right{
  padding-left: 66%;
}  